$achtergrond-body: #c3cfe2;
$achtergrond-text: white;
$achtergrond-footer: #686de0;
$achtergrond-overlay: #7c9da3;
$achtergrond-a-hover: lightgrey;
$achtergrond-blog: #e17b77;
$achtergrond-twitter: #00aced;
$achtergrond-linkedin: #007bb6;
$achtergrond-facebook: #3b5998;
$achtergrond-git: #333;
$text-centreren: center;
$breedte-testimonial: 100%;
$schaduw-testimonial: 1px 10px 9px 6px rgba(146, 146, 146, 0.76);
